.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2rem;

  &__text {
    grid-area: 2/2/3/3;
    font-size: 1.7rem;
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;
    transform: translateY(-1rem);
  }
}
