.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 0.7),
      rgba($color-secondary, 0.9)
    ),
    url('/assets/img/house-3.jpeg');
  background-size: cover;
  background-position: center;
  grid-column: full-start / col-end 6;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  padding: 8rem;
  row-gap: 2rem;

  @media only screen and (max-width: $bp-md-1) {
    padding: 3rem;
    // grid-column: 1 /-1;
  }

  @media only screen and (max-width: $bp-md-2) {
    grid-column: 1/-1;
  }

  &__logo {
    justify-self: center;
    width: 15rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  button {
    justify-self: start;
    align-self: start;
  }

  &__seenon-text {
    font-size: 1.6rem;
    color: $color-grey-light-2;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 1rem;

    &::before,
    &::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, min-content));
    justify-content: space-around;
    justify-items: center;
    gap: 3rem;

    @media only screen and (max-width: $bp-sm-1) {
      gap: 2rem;
      justify-content: space-between;
    }

    img {
      height: 2.5rem;
      filter: brightness(70%);

      @media only screen and (max-width: $bp-sm-1) {
        height: 2rem;
        gap: 1rem;
      }
    }
  }
}
