.homes {
  // grid-area: 4 / center-start/5/center-end;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 7rem;
  margin: 15rem 0;

  @media only screen and (max-width: $bp-sm-1) {
    margin: 6rem 0;
  }
}
