.story {
  &__pictures {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.3),
        rgba($color-primary-dark, 0.6)
      ),
      url('/assets/img/back.jpg');
    background-size: cover;
    grid-area: 3 / full-start/4/col-end 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
  }

  &__img--1 {
    width: 100%;
    grid-area: 2/2/6/6;
    box-shadow: $shadow-2;
  }

  &__img--2 {
    width: 110%;
    grid-area: 4/4/7/7;
    z-index: 10;
    box-shadow: $shadow-2;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-area: 3 / col-start 5/4 / full-end;
    padding: 6rem 8vw;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;  //  codes of the same function
    display: grid;
    justify-items: start;
    align-content: center;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
