@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap");
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #e4e4e4 transparent;
}
*:focus {
  outline: 0;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 4px;
  border: 4px solid transparent;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

::selection {
  background-color: #c69963;
  color: #fff;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483a;
}

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483a;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 8rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2rem;
}
.feature__text {
  grid-area: 2/2/3/3;
  font-size: 1.7rem;
}
.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: #c69963;
  transform: translateY(-1rem);
}

.btn {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  background-color: #c69963;
  padding: 2rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
  box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.6);
}
.btn:active {
  transform: scale(1.02);
}

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}
.home__img {
  width: 100%;
  grid-area: 1/1/2/3;
}
.home__like {
  fill: #c69963;
  width: 2.5rem;
  height: 2.5rem;
  grid-area: 1/2/2/3;
  justify-self: end;
  z-index: 10;
  margin: 1rem;
}
.home__name {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 1.25rem;
  justify-self: center;
  align-self: end;
  background-color: #101d2c;
  color: #fff;
  font-family: 400;
  width: 80%;
  text-align: center;
  grid-area: 1/1/2/3;
  transform: translateY(50%);
}
.home__location, .home__rooms, .home__area, .home__price {
  margin-top: 2rem;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  width: 2rem;
  height: 2rem;
  transform: translateY(0.2rem);
  margin-left: 2.5rem;
}
.home__location p, .home__rooms p, .home__area p, .home__price p {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.home__btn {
  grid-area: 4/1/span 1/3;
  justify-self: stretch;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem) min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, min-content) 40vw repeat(3, min-content);
  }
}
@media only screen and (max-width: 40.625em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem) repeat(6, min-content);
  }
}

.features {
  display: grid;
  grid-column: center-start/center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  margin: 15rem 0;
  align-items: start;
}
@media only screen and (max-width: 40.625em) {
  .features {
    margin: 8rem 0;
  }
}
@media only screen and (max-width: 40.625em) {
  .features {
    margin: 6rem 0;
  }
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: repeat(7, 5vw);
  grid-template-columns: repeat(8, 1fr);
  gap: 1.5rem;
  margin: 0 2rem;
  padding: 1.5rem;
}
.gallery > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.gallery > *:nth-child(1) {
  grid-area: 1/1/3/3;
}
.gallery > *:nth-child(2) {
  grid-area: 1/3/4/6;
}
.gallery > *:nth-child(3) {
  grid-area: 1/6/3/7;
}
.gallery > *:nth-child(4) {
  grid-area: 1/7/3/9;
}
.gallery > *:nth-child(5) {
  grid-area: 3/1/6/3;
}
.gallery > *:nth-child(6) {
  grid-area: 4/3/6/5;
}
.gallery > *:nth-child(7) {
  grid-area: 4/5/5/6;
}
.gallery > *:nth-child(8) {
  grid-area: 3/6/5/8;
}
.gallery > *:nth-child(9) {
  grid-area: 3/8/6/9;
}
.gallery > *:nth-child(10) {
  grid-area: 6/1/8/2;
}
.gallery > *:nth-child(11) {
  grid-area: 6/2/8/4;
}
.gallery > *:nth-child(12) {
  grid-area: 6/4/8/5;
}
.gallery > *:nth-child(13) {
  grid-area: 5/5/8/8;
}
.gallery > *:nth-child(14) {
  grid-area: 6/8/8/9;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.9)), url("/assets/img/house-3.jpeg");
  background-size: cover;
  background-position: center;
  grid-column: full-start/col-end 6;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  padding: 8rem;
  row-gap: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .header {
    padding: 3rem;
  }
}
@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1/-1;
  }
}
.header__logo {
  justify-self: center;
  width: 15rem;
}
.header h1 {
  margin-bottom: 2rem;
}
.header button {
  justify-self: start;
  align-self: start;
}
.header__seenon-text {
  font-size: 1.6rem;
  color: #aaa;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  column-gap: 1rem;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, min-content));
  justify-content: space-around;
  justify-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 40.625em) {
  .header__seenon-logos {
    gap: 2rem;
    justify-content: space-between;
  }
}
.header__seenon-logos img {
  height: 2.5rem;
  filter: brightness(70%);
}
@media only screen and (max-width: 40.625em) {
  .header__seenon-logos img {
    height: 2rem;
    gap: 1rem;
  }
}

.homes {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 7rem;
  margin: 15rem 0;
}
@media only screen and (max-width: 40.625em) {
  .homes {
    margin: 6rem 0;
  }
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 2vh;
}
@media only screen and (max-width: 50em) {
  .realtors {
    grid-column: 1/-1;
    padding: 4rem;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 5vh;
}
@media only screen and (max-width: 50em) {
  .realtors__list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
  }
}
.realtors__list img {
  border-radius: 50%;
  width: 7rem;
  justify-self: end;
}
@media only screen and (max-width: 50em) {
  .realtors__list img {
    justify-self: center;
  }
  .realtors__list img:nth-of-type(1) {
    order: 1;
  }
  .realtors__list img:nth-of-type(2) {
    order: 2;
  }
  .realtors__list img:nth-of-type(3) {
    order: 3;
  }
}
@media only screen and (max-width: 50em) {
  .realtors__list div {
    text-align: center;
  }
  .realtors__list div:nth-of-type(1) {
    order: 4;
  }
  .realtors__list div:nth-of-type(2) {
    order: 5;
  }
  .realtors__list div:nth-of-type(3) {
    order: 6;
  }
}
.realtors__details h5 {
  font-size: 1.4rem;
  color: #aaa;
  text-transform: uppercase;
}
.realtors__details p {
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar {
  background-color: #c69963;
  grid-row: 1/-1;
}
@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  text-align: center;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  z-index: 2000;
  box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
@media only screen and (min-width: 62.5em) {
  .navigation__button {
    left: 0.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .navigation__button {
    width: 5rem;
    height: 5rem;
    top: 0.5rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#c69963, #b28451);
  position: fixed;
  top: 1.3rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}
@media only screen and (min-width: 62.5em) {
  .navigation__background {
    left: 1rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .navigation__background {
    width: 3rem;
    height: 3rem;
    top: 0.9rem;
    right: 3.2rem;
  }
}
.navigation__nav {
  position: relative;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 50em) {
  .navigation__list {
    width: 100%;
  }
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.2s;
}
@media only screen and (max-width: 40.625em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
  }
}
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
  margin-right: 1rem;
}
.navigation__link:hover {
  background-position: 100%;
  color: #c69963;
  transform: translateX(1rem) scale(1.05) rotate(-5deg);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
@media only screen and (max-width: 62.5em) {
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100);
  }
}
.navigation__checkbox:checked ~ .navigation__background + .navigation__nav {
  opacity: 1;
  visibility: visible;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 62.5em) {
  .navigation__icon {
    transform: translateY(-1rem);
  }
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #6d5d4b;
  display: inline-block;
}
@media only screen and (max-width: 62.5em) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.story__pictures {
  background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.3), rgba(178, 132, 81, 0.6)), url("/assets/img/back.jpg");
  background-size: cover;
  background-position: center;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 3rem;
  }
}
.story__img--1 {
  width: 100%;
  grid-area: 2/2/6/6;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 50em) {
  .story__img--1 {
    grid-column: 1/5;
    grid-row: 1/-1;
  }
}
.story__img--2 {
  width: 110%;
  grid-area: 4/4/7/7;
  z-index: 10;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 50em) {
  .story__img--2 {
    width: 100%;
    grid-row: 1/-1;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  display: grid;
  justify-items: start;
  align-content: center;
}
@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem;
  text-align: center;
}
@media only screen and (max-width: 40.625em) {
  .footer {
    padding: 6rem;
  }
}
.footer__nav {
  list-style: none;
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  justify-items: center;
}
.footer__item {
  display: inline-block;
}
.footer__link:link, .footer__link:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.6rem;
  padding: 1.5rem;
}
.footer__link:hover, .footer__link:active {
  transform: rotate(-10deg) translateY(-3px) scale(1.2);
}
.footer__copyright {
  display: inline-block;
  width: 50%;
  font-size: 1.4rem;
  border-top: 1px solid #f9f7f6;
  padding-top: 2rem;
  color: #aaa;
  margin-top: 6rem;
}
@media only screen and (max-width: 68.75em) {
  .footer__copyright {
    width: 60%;
  }
}
@media only screen and (max-width: 40.625em) {
  .footer__copyright {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
